/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    background-color: #2b2b2b;
    color: white;
}

/* Header */
header {
    background: #1f1f1f;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

header input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

/* Main Layout */
.container {
    display: flex;
    min-height: 80vh;
}

/* Main Content */
main {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h2 {
    font-size: 26px;
    color: #ddd;
}

/* Sidebar */
aside {
    flex: 1;
    background: #222;
    padding: 20px;
}

aside h2 {
    font-size: 22px;
    margin-bottom: 5px;
}

.tagline {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 10px;
}

aside h3 {
    color: orange;
    margin-top: 15px;
}

aside p {
    margin: 8px 0;
}

aside select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

hr {
    margin: 10px 0;
    border: 0.5px solid #444;
}

/* Footer */
footer {
    background: #1f1f1f;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
